# Activation du module rewrite
RewriteEngine On

# Conditions pour la règle (RewriteRule) qui suit
# Les conditions s'appliquent avec un ET logique
# Toutes les conditions doivent être vraies pour appliquer la règle
# !-f = L'URL ne pointe pas vers un fichier physique
# !-d = L'URL ne pointe pas vers un dossier physique
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si la requête commence par n'importe quoi, alors affiche index.php
# ^ = l'url commence par n'importe quoi
# [] = flags permet de contrôler la requête à exécuter
# L = Last rule : si la règle est appliquée, toutes suivantes sont ignorée
RewriteRule ^ index.php [L]